<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tim Lucas</string>
	<key>CFBundleDisplayName</key>
	<string>BankBest</string>
	<key>CFBundleIdentifier</key>
	<string>com.toolmantim.bankbest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Bankbest.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>Bankbest.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://ibs.bankwest.com.au/CmWeb/Payments/Pay/Create.aspx</string>
		</array>
	</dict>
	<key>Description</key>
	<string>UI improvments to Bankwest Online Banking</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/toolmantim/bankbest.safariextension/raw/master/Update.plist</string>
	<key>Website</key>
	<string>http://toolmantim.com/dear-bankwest</string>
</dict>
</plist>
